<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97424430746-eqh3paseftl6l6hbe9358qiabhl4bldr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97424430746-eqh3paseftl6l6hbe9358qiabhl4bldr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97424430746-557fejspjqd1j4ollgjgseiaeoi1m9hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3XjwOGP1asyRtVCllq_kymsS60BEDsVA</string>
	<key>GCM_SENDER_ID</key>
	<string>97424430746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.dev.vinrus.twelveNotes</string>
	<key>PROJECT_ID</key>
	<string>twelve-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>twelve-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97424430746:ios:923c6259174ad2ac167123</string>
</dict>
</plist>